body {
	background-repeat: no-repeat;
    background-image: url('http://owltemplates.com/demo/website/korporate/dark/images/header/bg-blue-d.png')
}
.petName {
	font-size: 30px;
}

.loading {
	text-align: center;
}

.mainDiv {
	background: rgba(255, 255 , 255, 1);
	height: 300px;
	border-radius: 20px;
	text-align: center;
	padding-top: 10px;
	margin: 0px 100px 0px 110px;
	overflow-y: scroll;	
}

.title {
    margin: 10px 200px 20px 200px;
    text-align: center;
	background: rgba(255, 255 , 255, 1);
}

.title, .mainDiv2 {
	padding: 10px 20px 10px 20px;
	border-radius: 20px;
}

.panel {
	margin-bottom: 200px;
}

.name {
	text-align: center;
	font-size: 20px;
}
