<div id='container'>
  <body>
    <div class='col-md-12'>
        <h1 class='title'>Pet Finder</h1>
        <div class="mainDiv">
          <div ng-init='generateDogDisLike()'>
            <img ng-src="{{ pic }}" height="300" width="300" class="img-circle" alt="Cinque Terre" /><br>
            <div class='petName'>{{ name }}</div>
          </div>
          <div class='col-md-12' id='middleColumn'>
            <button ng-click='generateDogDisLike()' class='btn btn-default btn-danger'>dislike</button>
            <button ng-click='generateDogLike()' class='btn btn-default btn-success'>like</button>
          </div> 
        <a href='/#/results'>View Results</a>
        </div>
    </div>
  </body>

</div>